In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
a=3 
b=3
if a==b :
    print("my name is aliza")

my name is aliza

In [7]:
a=4
if a==4:
    for i in range(a):        #jb hum koi statement ya function likhty hyn to hm colon lgatay hyn
        print(i)

0
1
2
3

In [14]:
x=5
f= lambda x: 2*x**2+2
print(f(x))     # simple f(x) sy b a jata ha answer.

52

In [15]:
x=5
f= lambda x: 2*x**2+2
(f(x))     # simple f(x) sy b a jata ha answer.

52

In [16]:
x1 = float(input('enter x1:'))     #jb hum user sy values lyty hyn real num mn to hm float data type use krty hyn.
x2 = float(input('enter x2:'))

enter x1:5
enter x2:10

In [23]:
x1

5.0

In [25]:
 x="aliza"
 print(x)

aliza